.home-screen{
  align-items: center;
  justify-content: center;
  text-align: center;
}

body{
  background-image: url("./assets/mimo-qlW7RwHZVG8-unsplash.jpg");
  background-size: cover;
  background-position: bottom-right;
}

h1{
  font-size: 28px;
  color: #4671e0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,'Helvetica Neue', sans-serif;
  font-weight:lighter;
  margin-bottom: 50px;
  margin-top: 125px;
  display: block;
}

.buttons-container{
  cursor: pointer;
  display:flex;
  gap: 50px;
  justify-content: center;
}


p{
  margin-top: 50x;
  font-size:16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  color: #623a55;

}

img{
  border: #000000;
  border-width: thick;
  border-style: ridge;
  box-shadow: 10px 10px 10px rgb(175, 209, 219);
  height:350px;
  width: 196.875px;
}



