.home-screen{
  align-items: center;
  justify-content: center;
  text-align: center;

}

h1{
  font-size: 48px;
  color: #333;
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 100px;
  display: block;
}

.buttons-container{
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  display: block;
}

p{
  font-size:18px;
  font-style: bold;
  color: #666;
  font-family: Helvetica, sans-serif;
  margin-top: 10px;
}

img{
  border: #333;
  border-width: 0cap;
  border-style: ridge;
  box-shadow: #666;
}



