.home-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1{
  font-size: 48px;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  margin-top: 60px;
}

.buttons-container{
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
    .force-new-line{
    display: block;
  }
}


