.home-screen{
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1{
  font-size: 48px;
  color: #333;
}

button{
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

